*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: poppins;
}

.home-page{
  display: block;
}
.home-page .main-header{
  display: block;
}
.home-page .main-footer{
  display: block;
}
.home-page .main-body{
  display: block;
}

@media (max-width: 1199px) {
  .container {
    max-width: 970px !important;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100%;
    max-width: 750px !important;
    box-sizing: border-box;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 720px !important;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (max-width: 679px) {
  .container {
    max-width: 640px !important;
    box-sizing: border-box;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px !important;
    box-sizing: border-box;
    width: 100%;
  }
}
/* Service block start  */


.main-body .services-block{
  display: block;
  clear: both;
  margin:35px 0;
}

.main-body .services-block .services-block-inner {
	display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 30px 0;
}

.container{
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.main-body .services-block .services-block-inner .services-col {
	width: 33.33%;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
}

.main-body .services-block .services-block-inner .services-col .services-img{
 display: block;
}

.main-body .services-block .services-block-inner .services-col .services-img img{
  display: block;
  margin: 0 auto;
  height: auto;
  width:auto;
}
.main-body .services-block .services-block-inner .services-col .services-content {
	display: block;
	padding-top: 10px;
}

.main-body .services-block .services-block-inner .services-col strong{
  font-weight: 600;
  text-transform: capitalize;
  color: #1e1d23;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}
.main-body .services-block .services-block-inner .services-col p{
  display: block;
  width: 100%;
  font-weight: 500;
  color: #999999;
  text-align: center;
  line-height:26px;
  font-size: 18px;
}
@media (max-width : 991px) {
  .main-body .services-block .services-block-inner .services-col strong{
    font-size: 22px;
  }
  .main-body .services-block .services-block-inner .services-col p{
    font-size: 16px;
  }
  .main-body .services-block .services-block-inner .services-col{
    padding:  15px;
  }
}
@media (max-width : 767px) {
  .main-body .services-block .services-block-inner .services-col strong{
    font-size: 18px;
  }
  .main-body .services-block .services-block-inner .services-col p{
    font-size: 12px;
  }
  .main-body .services-block .services-block-inner .services-col{
    padding:  13px;
  }
}
@media (max-width : 680px) {

  .main-body .services-block .services-block-inner .services-col{
    width: 100%;
    margin-top:16px;
  }
  .main-body .services-block .services-block-inner .services-col strong{
    font-size: 18px;
  }
  .main-body .services-block .services-block-inner .services-col p{
    font-size: 14px;
  }
  
}
@media (max-width : 540px) {

  .main-body .services-block .services-block-inner .services-col{
    width: 100%;
    margin-top:16px;
  }
  .main-body .services-block .services-block-inner .services-col strong{
    font-size: 18px;
  }
  .main-body .services-block .services-block-inner .services-col p{
    font-size: 14px;
  }
  
}


/* Service block end */

/* Category block start */
.main-body .category-block {
  display: block;
  clear: both;
  margin: 35px auto;
}
.main-body .category-block .category-block-inner{
  display: flex;
  flex-direction: column;
  /* background-color: brown; */
  box-sizing: border-box;
  padding-bottom: 30px;
}

.main-body .category-block .category-block-inner .category-title{
  display: block;
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.main-body .category-block .category-block-inner .category-title strong{
  display: block;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.main-body .category-block .category-block-inner .category-items {
	display: flex;
	flex-wrap: wrap;
  margin: 0 -15px;
}
.category-item {
  display: block;
  width: calc(100%/6);
  padding: 0 15px;
  box-sizing: border-box;
}

.main-body .category-block .category-block-inner .category-items.category-item{
  display: block;
}

.main-body .category-block .category-block-inner .category-items.category-item img{
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
}


.main-body .category-block .category-block-inner .category-items.category-item .content {
  display: block;
  text-align: center;
}
.category-block .content {
  color: #1e1d23;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}
.category-block .content a{
  text-decoration: none;
  color: black;
}
.category-block .content a:hover{
  color: #00a149;
}

@media (max-width : 992px) {
  .category-item {
    padding-bottom: 20px;
    width: calc(100%/3);
  }
}
@media (max-width : 680px) {
  .category-item {
    padding-bottom: 20px;
    width: calc(100%/2);
  }
}
@media (max-width : 540px) {
  .category-item {
    padding-bottom: 20px;
    width: calc(100%);
  }
}

/* Category block ended */

/* Promotion block 1  started */
.main-body .promotion-outer{
  display: block;
  margin: 35px 0;
  clear: both;
}

.main-body .promotion-outer .container .promotion-inner{
  display: block;
}

.main-body .promotion-outer .container .promotion-inner {
  display: flex;
  flex-wrap: wrap;
  margin:0 -15px;
}

.main-body .promotion-outer .container .promotion-inner .ad-item{
  width: 50%;
  position: relative;
  padding: 0 15px;
  box-sizing: border-box;
}

.main-body .promotion-outer .container .promotion-inner .ad-item img{
  display: block;
  height: auto;
  width: 100%;
}
@media (max-width : 1199px) {
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(1){
    font-size: 35px !important;
  }
  
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(2){
    font-size: 22px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .use-codee .use-code{
    font-size: 18px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .coupan-code{
    font-size: 28px !important;
  }
}
@media (max-width : 991px) {
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(1){
    font-size: 30px !important;
  }
  
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(2){
    font-size: 16px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .use-codee .use-code{
    font-size: 16px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .coupan-code{
    font-size: 24px ;
  }
}
@media (max-width : 767px) {
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(1){
    font-size: 40px !important;
  }
  
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(2){
    font-size:24px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .use-codee .use-code{
    font-size: 20px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .coupan-code{
    font-size: 36px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item{
    width: 100%;
    margin-bottom: 20px;
  } 
}
@media (max-width : 679px) {
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(1){
    font-size: 36px !important;
  }
  
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(2){
    font-size:20px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .use-codee .use-code{
    font-size: 18px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .coupan-code{
    font-size: 32px !important;
  }
}
@media (max-width : 400px) {
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(1){
    font-size: 22px !important;
  }
  
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(2){
    font-size:18px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .use-codee .use-code{
    font-size: 14px !important;
  }
  .main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .coupan-code{
    font-size: 22px !important;
  }
}


.main-body .promotion-outer .container .promotion-inner .ad-item .ad-content{
  display: block;
  position: absolute;
  left: 8%;
  top: 50%;
  transform: translate(0,-50%);
}

.main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(1){
  font-size: 40px;
  line-height: 1;
  margin-bottom: 8px;
  color: #1e1d23;
  font-weight: 700;
  margin-top: 25px;
}

.main-body .promotion-outer .container .promotion-inner .ad-item .ad-content p:nth-child(2){
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 28px;
  color: #1e1d23;
}

.main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .use-codee{
  display: block;
  margin: 0 auto;
  text-align: center;
}

.main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .use-codee .use-code{
  display: inline;
  font-size: 20px;
  font-weight: 500;
  background-color: #eeac00;
  padding: 0 15px;
  text-transform:uppercase ;
}

.main-body .promotion-outer .container .promotion-inner .ad-item .ad-content .coupan-code{
  padding: 9px 20px;
  line-height: 22px;
  text-align: center;
  font-size: 36px;
  color: #1e1d23;
  font-weight: 500;
  border: 2px solid #eeac00;
}


/* Promotion block 1 end */




/* Promotion block 2 start */
.main-body .promotion-outer-block2{
  display: block;
  clear: both;
  margin:  35px 0;
}

.main-body .promotion-outer-block2 .container .promotion-inner-block2 {
  display: block;
  position: relative;
}

.main-body .promotion-outer-block2 .container .promotion-inner-block2  img{
  display: block;
  height: auto;
  width: 100%;
}

.main-body .promotion-outer-block2 .container .promotion-inner-block2 .content{
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0,-50%);

}
.main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p { 
  font-size: 72px;
  line-height: 1;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding-top: 0;
  max-width: 500px;
}

.main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p strong{
  display: block;
  color: #00a149;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 10px;
}

.main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p span{
  color: #eeac00;
  font-size: 75px;
}

.main-body .promotion-outer-block2 .container .promotion-inner-block2 .content a{
  display: inline-block;
  color: #1e1d23;
  background: #eeac00;
  border-radius: 5px;
  text-decoration: none;
  padding: 12px 20px;
  margin:8px 0;
  font-weight: 600;
  transition-duration: 0.5s;
}
.main-body .promotion-outer-block2 .container .promotion-inner-block2 .content a:hover{
  background-color: #00a149;
  border-color: #00a149;
  color: #fff;
}

@media (max-width : 1199px) {
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p {
    font-size: 55px;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p span{
    font-size:55px ;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p strong{
    font-size: 25px;
  }
}

@media (max-width : 679px) {
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p {
    font-size: 40px;
    max-width: 300px;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p span{
    font-size:40px ;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p strong{
    font-size:18px;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content a{
    padding: 8px 16px;
  }
}
@media (max-width : 539px) {
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p {
    font-size: 25px;
    max-width: 250px;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p span{
    font-size:25px ;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content p strong{
    font-size:14px;
  }
  .main-body .promotion-outer-block2 .container .promotion-inner-block2 .content a{
    padding: 4px 10px;
  }
}


/* Promotion block end */



/* Scroller start */

.main-body .scroller-outer{
  display: block;
}

.main-body .scroller-outer  .scroller-inner{
  display: block;
  clear: both;
  margin: 35px 0;
  margin-top: 0;
}

.main-body .scroller-outer  .scroller-inner .scroll-items{
  display: block;
  position: relative;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .scroll-item{
  width: 100%;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .scroll-item img{
  display: block;
  width: 100%;
  height: auto;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .content{
  top: 50%;
  transform: translate(0,-50%);
  position: absolute;
  max-width: 600px;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .content h2{
  display: block;
  margin-top: 0;
  font-weight: 600;
  color: #ffffff;
  display: block;
  text-transform: capitalize !important;
  font-size: 72px;
  /* margin-bottom: 5px; */
  line-height: 0.8;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .content h2 p{
  line-height: 1.5;
  display: inline;
  margin-top: 0;
  font-weight: 600;
  color: #eeac00;
  display: inline-block;
  text-transform: capitalize !important;
  font-size: 72px;
  margin-bottom: 5px;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .content span{
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
  color: #00a149;
  display: block;
  margin-bottom: 20px;
  text-transform: capitalize;
  padding-top: 0;
}
.main-body .scroller-outer  .scroller-inner .scroll-items .content {

  display: block;
  margin-bottom: 32px;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .content p{
  color: #ffffff;
  text-transform: capitalize;

  margin-bottom: 35px;
  font-weight: 500;
  font-size: 36px;
  
  line-height: 1;
}

.main-body .scroller-outer  .scroller-inner .scroll-items .content a{
  background-color: #eeac00;
  color: #1e1d23;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 14px 20px;
  min-width: 170px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
}

.main-body .scroller-outer .scroller-inner .scroll-items .content a:hover{
 background: #00a149;
 color: #f5f5f5;
 transition: all .2s ease-in 0s;
}

@media (max-width : 1199px) {
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2{
    font-size: 40px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2 p{
    font-size: 40px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content span{
    font-size: 32px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content p{
    font-size: 32px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content a{
    padding: 10px 16px;
  }
}
@media (max-width :991px) {
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2{
    font-size: 36px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2 p{
    font-size: 36px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content span{
    font-size: 24px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content p{
    font-size: 24px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content a{
    padding: 5px 8px;
  }
}
@media (max-width : 767px) {
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2{
    font-size: 32px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2 p{
    font-size: 32px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content span{
    font-size: 20px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content p{
    font-size: 20px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content a{
    padding: 5px 6px;
  }
}
@media (max-width : 679px) {
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2{
    font-size: 24px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2 p{
    font-size: 24px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content span{
    font-size: 14px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content p{
    font-size: 14px;
    margin-bottom: 10px;

  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content a{
    padding: 5px 3px;
    font-size: 14px;
  }
}
@media (max-width :400px) {
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2{
    font-size: 18px;
    margin-top: 10px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content h2 p{
    font-size: 18px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content span{
    font-size: 12px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content p{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .main-body .scroller-outer  .scroller-inner .scroll-items .content a{
    font-size: 12px;
  }
}


/* Dishes block start */

.main-body .dishes-outer{
  display: block;
  clear: both;
  margin: 35px 0;
}

.main-body .dishes-outer .dishes-inner{
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.main-body .dishes-outer .dishes-inner .title{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: 700;
}

.main-body .dishes-outer .dishes-inner .dishes-items{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.main-body .dishes-outer .container .dishes-inner .main2{
  display: block;
}

.main-body .dishes-outer .dishes-inner .main2{
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.main-body .dishes-outer .dishes-inner .contains{
  display: inline-block;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item{
  display: block;
  width: 25%;
  box-sizing: border-box;
  padding: 12px 11px;
  margin-bottom: 20px;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .dishes-item-inner{
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 15px;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image{
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image img{
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s ease-in-out;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image:hover .quick-view {
  top: 80%;
  transition: .3s linear;
}


.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image:not(:hover) .quick-view {
  top: 100%;
  transition: .3s linear;
}

.quick-view {
  display: block;
  position: absolute;
  top: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.24);
  width: 100%;
  padding: 20px 0;
}

.quick-view a {
  text-decoration: none;
  color: #fff;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image .new {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image .new span{
  background-color: #00a149;
  color: #ffffff;
  font-size: 14px;
  padding:0 10px;
}
.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image .on-sale span{
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  background: #999999;
  font-size: 14px;
  margin-top: 2px;
  padding: 0 10px;
  color:#ffffff;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price{
  display: block;
  margin-top: 2px;
}
.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price h3{
  display: block;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #555555;
  font-size: 16px;
  text-transform: capitalize;
  margin: 10px 0;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price h3:hover{
  color: #00a149;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price span{
  display: block;
  text-align: left;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  color: #000000;
  margin: 10px 0;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price button{
  background: #eeac00;
  border: 1px solid #eeac00;
  color: #1e1d23;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  font-weight: 600;
  padding: 5px 11px;
  font-size: 14px;
  border-radius: 3px;
  transition: all .3s ease-in 0s;
}

.main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price button:hover{
  background: #00a149;
  border-color: #00a149;
  color: #ffffff;
}

@media (max-width: 1199px){
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image:hover .quick-view {
    top: 80%;
    padding: 15px 0;
  }
}
@media (max-width: 992px){
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image:hover .quick-view {
    top: 80%;
    padding: 30px 0;
  }
}
@media (max-width: 768px){
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item{
    width: 50%;
  }
 
}
@media (max-width: 679px){
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item{
    width: 50%;
  }
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price span{
    font-size: 16px;
  }
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .price h3{
    font-size: 14px;
  }
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image:hover .quick-view {
    top: 84%;
    padding: 11px 0;
  }
}
@media (max-width: 539px){
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item{
    width: 50%;
  }
  .main-body .dishes-outer .dishes-inner .dishes-items .dishes-item .image:hover .quick-view {
    top: 84%;
    padding: 25px 0;
  }
}

/* Dishes end */

/* Testimonial start */
.main-body .testimonial-outer{
  display: block;
  margin: 35px 0;
  clear: both;
}

.main-body .testimonial-outer .testimonial-inner{
  display: block;
  padding: 50px 0;
  background-image: url(./assets/bg.jpg);
}

.main-body .testimonial-outer .testimonial-inner .mainx {
  display: block;
  left: 0;
  top: 0;
}

.main-body .testimonial-outer .testimonial-inner .image{
  display: block;
  width: 100%;
  overflow-x: hidden;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block{
  display: block;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .heading{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: 700;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card{
  padding: 0 15px;
  width: 50%;
  box-sizing: border-box;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail{
  display: block;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  padding: 35px;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image{
  display: flex;
}
.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image img{
  display: block;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid #1e1d23;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image .content{
  display: block;
  margin: 20px 0;
}
.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image .content strong{
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 4px;
  color: #000;
}
.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image .content p{
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
  margin-bottom: 4px;
}
.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .desc{
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 100%;
}

.main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .desc p{
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  color: #555555;
  font-weight: 500;
  display: block;
  margin: 20px 0px;
}

@media (max-width : 1199px) {
  .main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .desc p{
    font-size: 14px;
  }
  .main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image .content p{
    font-size: 14px;
  }
  .main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image .content strong{
    font-size: 18px;
  }
}
@media (max-width : 680px) {
  .main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .desc p{
    font-size: 14px;
  }
  .main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image .content p{
    font-size: 14px;
  }
  .main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card .detail .image .content strong{
    font-size: 18px;
  }
  .main-body .testimonial-outer .testimonial-inner .container .testimonial-block .cards .card{
    width: 100%;
    margin-top: 10px;
  }
}

/* Testimonial end */

/* Brand start */
.brand-outer{
  display: block;
  margin: 35px 0;
  clear: both;
}

.brand-outer .container .brand-inner{
  display: block;
}


.brand-outer .container .brand-inner .heading{
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: 700;
  /* padding: 100px; */
}

.brand-outer .container .brand-inner .slider{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 35px;
}

.brand-outer .container .brand-inner .slider .image{
  display: block;
  width: 20%;
}
@media (max-width : 991px) {
  .brand-outer .container .brand-inner .slider .image{
    width: 33.33%;
  }
}
@media (max-width :679px) {
  .brand-outer .container .brand-inner .slider .image{
    width: 33.33%;
  }
}
@media (max-width :539px) {
  .brand-outer .container .brand-inner .slider .image{
    width: 50%;
  }
}
/* Branding over */

/* Footer start */
.footer-top{
  display: block;
  margin: 35px 0;
  clear: both;
}

.footer-top .container .footer-inner{
  display: flex;
  justify-content: space-between;
}
.footer-col {
  display: block;
  width: 25%;
}

.footer-top .container .footer-inner .footer-col h3{
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.footer-top .container .footer-inner .footer-col .items{
  display: flex;
  flex-direction: column;
}
.footer-top .container .footer-inner .footer-col .items .item{
  display: flex;
}
.footer-top .container .footer-inner .footer-col .items .item .icon{
  display: block;
  margin-right: 10px;
}
.footer-top .container .footer-inner .footer-col .items .item .icon i{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  color: #eeac00;
  margin-left: 5px;
}
.footer-top .container .footer-inner .footer-col .items .item  .content h4{
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin-bottom: 4px;
  color: #333333;

}
.footer-top .container .footer-inner .footer-col .items .item  .content p{
position: relative;
  margin-bottom: 16px;
  color: #555555;
  font-weight: 400;
  display: block;
  font-size: 15px;
}
.yellow-hover{
  transition: 0.3s ease ;
}
.yellow-hover:hover{
  color: #eeac00 !important;
  font-size: 15.1px !important;
  margin-left: 10px !important;
}
.footer-col-2 .content li {
  color: #555555;
  font-weight: 400;
  display: block;
  font-size: 15px;
  line-height: 1.5;
  padding: 5px 10px;
}

.footer-col-4 p{
  color: #555555;
  font-weight: 400;
  display: block;
  font-size: 15px;
  line-height: 1.5;
  padding: 5px 10px;
}
.footer-col-4 input{
  min-width: 100%;
  max-width: 100%;
  margin-right: 0;
  text-align: center;
  background: #ffffff;
  font-weight: 400;
  font-size: 13px;
  height: 40px;
  border: 1px solid #e8e8e8;
  color: #333333;
}
.footer-col-4 .submit{
  display: block;
  margin: 10px 0 0;
  width: 100%;
  height: 40px;
  padding: 5px 25px;
  background: #eeac00;
  border: 1px solid #eeac00;
  color: #1e1d23;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  border-radius: 3px;
}
.footer-col-4 .submit:hover{
  color: #fff;
  background-color: #00a149;
  border: 1px solid #00a149;

}

.footer2-outer{
  display: block;
  clear: both;
  margin: 35px 0;
}
.footer2-outer  .footer2-inner{
  display: flex;
}
.footer2-outer  .footer2-inner .footer-col p{
  display: block;
}

.footer-bottom{
  display: block;
  margin: 35px 0;
  clear: both;
}
.footer-bottom .footer-bottom-inner{
  display: flex;
  border-top: 1px solid #999999;
  padding-top: 20px;
  margin: 0 -15px;
}
.footer-bottom .footer-col{
  display: block;
  width: 33.33%;
  padding: 0 15px;
  box-sizing: border-box;
}

.footer-bottom .copyright{

  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: left;
}
.footer-bottom .copyright a{
  display: block;
  font-size: 14px;
  color: #555555;
  font-weight: 400;
  text-decoration: none;
}


.footer-col .icons-block{
  list-style: none;
  display: flex;
  justify-content: center;  
}
.footer-col .icons-block li{
  margin-right: 5px ;
}
input:focus-visible {
  outline: none;
}
.footer-col .icons-block li a{
  width: 40px;
  height: 40px;
  background: #eeac00;
  border-radius: 50%;
  display: block;
  font-size: 18px;
  color: #1e1d23;
  border: 1px solid #eeac00;
  line-height: 38px;
  text-align: center;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}
.footer-col .icons-block li a i{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
    font-weight: normal;
    font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
}
.footer-bottom .container .footer-bottom-inner .footer-col .footer-col-inner{
  display: flex;
  justify-content: flex-end;
}

.footer-bottom .container .footer-bottom-inner .footer-col .footer-col-inner a{
  line-height: 38px;
  text-align: center;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
}

.footer-bottom .container .footer-bottom-inner .footer-col .footer-col-inner a i{
  width: 40px;
  height: 40px;
  display: block;
  font-size: 25px;
  color: #1e1d23;
  display: inline-block;
}

.footer-col .icons-block li:hover a{
  background: #00a149;
  border: 1px solid #00a149;
  color: #fff;
}

.main-header .header-inner .header-top{
  display: flex;
  clear: both;
  margin: 35px ;
  align-items: center;
}

.main-header .header-inner .header-bottom{
  display: flex;
  margin-top: 35px;
  border-top: #555555 solid 1px;
}
.main-header .header-inner .header-top .block-1{
  display: flex;
}
.main-header .header-inner .header-top .block-1 .block-1-content{
  padding:0 5%;
}
.main-header .header-inner .header-top .block-1 .block-1-content a{
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  color: #eeac00;
  display: block;
  line-height: 26px;
  letter-spacing: 1.10px;
}
.main-header .header-inner .header-top .block-1 .block-1-content p{
  font-size: 13px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 0;
  letter-spacing: 0.72px;
  display: block;
  line-height: 24px;
}

.main-header .header-inner .header-top .block{
  width: 33.33%;
}
.main-header .header-inner .header-top .block-2{
  display: block;
  margin: 0 auto;
  text-align: center;
}
.main-header .header-inner .header-top .block-3 {
  display: flex;
  justify-content: flex-end;
}
.main-header .header-inner .header-top .block-3 i{
  color: #000;
  border-radius: 50%;
  border: #000 solid 1px;
  padding: 15px;
  margin: 10px;
  transition: 0.3s ease ;
  font-weight: 600;
}
.main-header .header-inner .header-top .block-3 i:hover{
  color:#eeac00;
  border: #eeac00 solid 1px;
}
.main-header .header-bottom .header-list{
  list-style: none;
  display: flex;
}
.main-header .header-bottom .header-list>li{
  padding: 10px 20px;
  position: relative;
}

.main-header .header-bottom .header-list li .arrow-top-bottom::after{
  font-weight: 700;
  font-family: "Font Awesome 6 Free";
  content: "\f107";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: .3s ease;
}

.main-header .header-bottom .header-list li .arrow-top-bottom:hover::after{
  font-weight: 700;
  font-family: "Font Awesome 6 Free";
  content: " \f106";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.main-header .header-bottom .header-list li:hover .arrow-top-bottom::after{
  font-weight: 700;
  font-family: "Font Awesome 6 Free";
  content: " \f106";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.main-header .header-bottom .header-list li:hover .arrow-top-bottom{
  color: #00a149;
}

.main-header .header-bottom .header-list li a{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #333333;
  line-height: 28px;
  text-transform: capitalize;
  text-decoration: none;
}
.main-header .header-bottom .header-list .outer-menu {
  display: none;
  position: absolute;
  top: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  list-style: none;
  background-color: white;
}
.main-header .header-bottom .header-list .outer-menu li a{
  color: #000;
  text-align: left;
  min-width: 140px;
  padding: 7px 10px;
  display: block;
  font-weight: 500;
  transition: .1s ease;
}

.main-header .header-bottom .header-list a:hover{
  color:#00a149 !important;
}

.main-header .header-bottom .header-list .outer-menu li a:hover{
  color: #00a149;
}

.main-header .header-bottom .header-list>li:hover .outer-menu{
  display: block;
  position: absolute;
  top: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 140px;
  text-align: center;
  z-index: 1;
  color: #00a149;
}
.inner-menu {
  display: none;
}

.outer-menu>li{
  transition: .2s ease;
}

.outer-menu>li:hover .inner-menu{
  display: block;
  position: absolute;
  top: 10%;
  left: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  text-align: center;
  min-width: 140px;
  list-style: none;
}
.outer-menu li{
  position: relative;
}

.down-line,.down-line-2{
  position: relative;
}
.down-line{
  padding: 7px;
}
.down-line::after{
  content: "";
  display: block;
  height: 1.5px;
  width: 220px;
  background-color: #00a149;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.down-line-2::after{
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  background-color: #00a149;
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -7px;
}